@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Oswald');

// main font and line height sizes

$font-size: 16px;
$line-height: 24px;

//using this for padding left and right only

$pad: 16px;
$pad-half: $pad / 2;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;
$pad-triple: $pad * 3;

//using this for spacing vertically. Use this variable for margins only!

$space: 24px;
$space-half: $space / 2;
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-triple: $space * 3;

$grey: #787d7f;

body {
  background-color: #f6ffff;
}

h1,
h2 {
  color: $grey;
  font-family: Oswald, sans-serif;
}

p {
  color: $grey;
  font-family: 'Cormorant Garamond', 'Times New Roman', serif;
}

footer p {
  display: inline;
  padding-left: $pad;
}

#what,
#view,
#entertainment,
#payment {
  margin: $space-double auto;
}
